<!DOCTYPE html>
<html>
  <head>
    <title>Demo Immutable Servers App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer>
      Version: <%=@git_version_info.commit_short%>
    </footer>
  </body>
</html>
